div#page_heading{
    color: rgb(197, 197, 197);
    background-color: rgba(168, 167, 154, 0.418);
    font-size: 2em;
    padding: 50px 20px 50px 20px;
    border: solid 5px rgba(0, 0, 0, 0.247);
    margin: 20px 20px 50px 20px;
    border-radius: 1em;
    box-sizing: border-box;
    overflow: hidden;
}
#headerlogo{
    width: 25%;
}
#headertitle{
    width: 100%;
}
div#maindesc{
    color: rgb(192, 192, 243);
    font-size: 1em;
    width: 500px;
    margin: auto;
    padding-left: 100px;
}
#cv_div{
    width: 500px;
    margin: auto;
}
body{
    background-color: rgb(39, 39, 39);
    color: white;
    font-family: 'Fraunces', serif;
    font-size: 1em;
    
}
:link{
    color: rgb(181, 255, 255);
}
:visited{
    color: rgb(206, 159, 159);
}
a{
    font-style: italic;
}
#interests{
    font-family: 'Playfair Display', serif;
    background-color: rgba(240, 248, 255, 0.253);
    width: 600px;
    margin: 50px auto;
    padding: 2em;
    border: solid 5px rgba(14, 14, 14, 0.493);
}
#interestheading{
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}
div.detaildesc{
    background-color: rgb(255, 255, 255);
    color: black;
}

